*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main--color:#312540;
    --white--color:#fcfcfc ;
}
body{
    background-image: linear-gradient(-180deg, #2a438f 0%, #583a75 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--white--color);
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: 0;
}

input,select{
    outline: none;
    border: none;
    font-size: 15px;
    /* background-color: #dfd3eb; */
    background-color: var(--white--color);
    border-radius: 4px;
}
input::placeholder{
    color: var(--main--color);
}
input[type="radio"]{
    margin-right: 6px;
    cursor: pointer;
}

label{
    font-size: 18px;
    font-weight: bold;
}

.settings,.quiz,.final{
    background-color:var(--white--color);
    background-color:var(--main--color);
    /* box-shadow: 0 0 10px #afafaf; */
    box-shadow: 0 3px 1px 0 rgb(31 17 51 / 80%), inset 0 -1px 3px -2px rgb(255 255 255 / 40%);
    width: 650px;
    min-width: 300px;
    margin: 0 5px;
    border-radius:50px 50px 65px 65px;
    line-height: 1.4;
    overflow: hidden;
}
.main-header{
    color: var(--white--color);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    gap: 5px;
    border-bottom: 2px solid var(--main--color);
}


.settings .settings-info{
    display: grid;
    gap: 18px;
    padding: 25px;
    color: var(--white--color);
}

.settings .settings-info > div:not(:last-child){
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.settings .settings-info div .category ,
.settings .settings-info div .questions-num {
    flex: 1;
    text-align: center;
    padding: 7px;
    /* border-radius: 4px; */
}

button{
    width: 160px;
    margin:auto;
    padding: 10px 0;
    font-size: 17px;
    letter-spacing: 2px;
    border-radius: 4px;
    font-weight: bold;
    border-radius: 10px;
    color:var(--main--color);
    background-color:var(--white--color);
    box-shadow: 0 3px 1px 0 rgb(31 17 51 / 80%), inset 0 -1px 3px -2px rgb(255 255 255 / 40%);
    transition: opacity 0.5s;
}
button:hover{
    opacity: 0.6;
}


.quiz{
    display: none;
    gap: 10px;
}

.quiz .count p {
    font-size: 30px;
}

.question-container,.score-container{
    padding:0 25px 25px;
    display: grid;
    gap: 18px;
}

.quiz div.answers-labels{
    display: grid;
    gap: 7px;
}

.quiz div.answers-labels label{
    font-size: 17px;
}
.final{
    display: none;
}
.final p{
    font-size: 24px;
    margin: 20px 0;
    /* text-align: center; */
}
.final h3{
    font-size: 22px;
    text-transform: capitalize;
}
.loading{
    display: none;
    border: 3.5px solid ;
    border-color: #fcfcfc #fcfcfc #fcfcfc transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: rotate(0);
    animation: loading .9s infinite ;
    /* animation-iteration-count: infinite ; */
}
@keyframes loading{
    100%{
        transform: rotate(360deg);
    }
}

